body {
  font-family: helvetica, sans-serif, arial;
  font-size: 1em;
  color: #111;
  padding: 0;
  margin: 0;
  background-color: #101010; }

#terminal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #101010;
  box-sizing: border-box; }
  #terminal-container .terminal {
    background-color: #101010;
    color: #fafafa;
    padding: 2px; }
    #terminal-container .terminal .xterm-viewport {
      background-color: #101010; }
  #terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa; }
