
$background: #101010;
$foreground: #fafafa;

body {
	font-family: helvetica, sans-serif, arial;
	font-size: 1em;
	color: #111;
	padding: 0;
	margin: 0;
	
	background-color: $background;
}

#terminal-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	background-color: $background;
	box-sizing: border-box;
	
	.terminal {
		background-color: $background;
		color: $foreground;
		padding: 2px;
		
		.xterm-viewport {
			background-color: $background;
			// overflow-y: hidden; // Uncomment to remove scroll bar
		}
	}
	
	.terminal:focus .terminal-cursor {
		background-color: $foreground;
	}
}
